<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body th:fragment="nav_bar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:with="view=${#httpServletRequest.getServletPath()}">
                <li class="nav-item">
                    <a class="nav-link fs-5" th:classappend="${#strings.startsWith(view, '/cabinet')? 'active':''}"
                       aria-current="page" th:href="@{/admin/allUsers}">Все пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" th:classappend="${#strings.startsWith(view, '/cabinet')? 'active':''}"
                       aria-current="page" th:href="@{/engineer/showMetalForm}">create metal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" th:classappend="${#strings.startsWith(view, '/cabinet')? 'active':''}"
                       aria-current="page" th:href="@{/engineer/product/formProduct}">create product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" th:href="@{/auth/logout}">Выход</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
</body>
</html>