<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/generalHeader :: head(~{}, ~{})"></div>

<header>
    <div th:replace="fragments/nav-bar :: nav_bar"></div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mt-5 mb-5">

<!--            <div th:replace="adm/userTable"></div>-->
            <div id="userTable"></div>


            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true"></div>
            <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true"></div>
            <div th:replace="adm/modal/deleteUser"></div>
        </div>
    </div>
</main>

</html>